// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
pre {
	display: inline-block;
	max-width:100%; /* so it does not spill over containing div */
}
code {
	display: inline-block;
}
article blockquote {
	font-size: 0.9em;
}
#ad_sense {
	display: table;
	margin: 0 auto;
}
